<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <!--  ======== Document Title =====================================  -->
    <title>啡常渴以 | 結帳頁</title>
    
    
    <!--  ======== Favicons =====================================  -->
   	<link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/favicons/apple-icon-57x57.png}">
	<link rel="apple-touch-icon" sizes="60x60" th:href="@{/images/favicons/apple-icon-60x60.png}">
	<link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/favicons/apple-icon-72x72.png}">
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{/images/favicons/apple-icon-76x76.png}">
	<link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/favicons/apple-icon-114x114.png}">
	<link rel="apple-touch-icon" sizes="120x120" th:href="@{/images/favicons/apple-icon-120x120.png}">
	<link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/favicons/apple-icon-144x144.png}">
	<link rel="apple-touch-icon" sizes="152x152" th:href="@{/images/favicons/apple-icon-152x152.png}">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/favicons/apple-icon-180x180.png}">
	<link rel="icon" type="image/png" sizes="192x192" th:href="@{/images/favicons/android-icon-192x192.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicons/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/images/favicons/favicon-96x96.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicons/favicon-16x16.png}">
    
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    
    <!--  ======== Stylesheets =====================================  -->
    
    <!-- Default stylesheets-->
    <link rel="stylesheet" th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}" >
    
    <!-- Template specific stylesheets-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Volkhov:400i">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
	<link rel="stylesheet" th:href="@{/lib/animate.css/animate.css}">
	<link rel="stylesheet" th:href="@{/lib/components-font-awesome/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/lib/et-line-font/et-line-font.css}">
	<link rel="stylesheet" th:href="@{/lib/flexslider/flexslider.css}">
	<link rel="stylesheet" th:href="@{/lib/owl.carousel/dist/assets/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/lib/owl.carousel/dist/assets/owl.theme.default.min.css}">
	<link rel="stylesheet" th:href="@{/lib/magnific-popup/dist/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/lib/simple-text-rotator/simpletextrotator.css}">
	
	<!-- Main stylesheet and color file -->
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/colors/default.css}" id="color-scheme">
	<style >
		table, table td, table th{
			border: 1px solid black;
			border-collapse: collapse;
			text-align:center;
		}
		
		.drinkOrder, .drinkOrderDetail{
			background-color: #ffe4c4;
		}
	</style>
	
	
  </head>





  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  	<main>

	    <!-- header -->
	    <div th:replace="header :: header"></div>
	    <!-- header -->
		

		<div class="main">
		<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<h1 style="margin: 90 0 0 0px">查看購物明細</h1>
				</div>
			</div>


			<!-- 收件人  -->
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<h3>收件人資料</h3>
					<div class="module-subtitle font-serif"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<form method="post" action="/productOrder/order"  role="form" >
						<input type="hidden" name="userID"  th:value="${userID}">
						<input type="hidden" name="productOrderAmount"  th:value="${session.productNumber}">
						<input type="hidden" name="productOrderPayM" value="0">
						
						<div class="form-group" >
							<label  class="sr-only">收件人姓名</label> <input class="form-control" name="receiverName"
								type="text"  placeholder="收件人姓名（必填）"
								required="required" data-validation-required-message="請輸入姓名" />
							<p class="help-block text-danger"></p>
						</div>
						<div class="form-group">
							<label class="sr-only">收件人電話</label> <input class="form-control" name="receiverPhone"
								type="text"  placeholder="收件人電話（必填）"
								required="required" data-validation-required-message="請輸入電話" />
							<p class="help-block text-danger"></p>
						</div>
						<div class="form-group">
							<label class="sr-only">收件人E-mail</label> <input name="receiverMail"
								class="form-control" type="email" 
								placeholder="收件人E-mail（必填）" required="required"
								data-validation-required-message="請輸入E-mail" />
							<p class="help-block text-danger"></p>
						</div>
					<!-- 收件人 -->


					<hr class="divider-w mb-10">

					<div class="container">
						<div class="form-group">
							<h3>運送方式</h3>
							<div class="radio-group">
								<input type="radio" id="homeDelivery" name="pickType"
									value="homeDelivery"> <label for="homeDelivery">宅配到家
								</label> 
								
								<input name="productOrderAddr" type="text" id="textInputField" >
								
								<input type="radio" id="storePickup" name="pickType"
									value="storePickup" checked> <label for="storePickup">店內自取</label>
								<select  name="productOrderAddr">
									<option>請選擇門市</option>
										<th:block th:each="store:${storeList}">
											<option th:value="${store.storeName}" th:text="${store.storeName}"></option>
										</th:block>
								</select>
							</div>
						</div>

					</div>
					<hr class="divider-w mb-10">


					<!-- 總金額顯示區塊 -->
					<h3>$ 總金額：
						<input  name="productOrderTTPrice" th:value="${session.productTotalPrice}" 
							style="margin-top: 10px; margin-bottom: 10px; font-size: 16px; font-weight: bold;" readonly="readonly">
					</h3>

					<hr class="divider-w mb-10">


					<!-- 備註 -->
					<div class="form-group">
						<input name="productOrderNote" class="form-control"  
							placeholder="訂單備註">
						<p class="help-block text-danger"></p>
					</div>

					<div class="text-center">
						<input type="submit" style="width: 40%; background-color: orange; margin: 50px auto;" >
					</div>
					<!-- 確定下單 -->

					</form>




				</div>
			</div>
		</div>
		

	    <!-- footer -->
	    <div th:include="footer :: footer"></div>
	    <!-- footer -->
    	<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
   </main>
    
    
    <!--  ======== JavaScripts =====================================  -->
    <script th:src="@{/lib/jquery/dist/jquery.js}"></script>
    <script th:src="@{/lib/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/lib/wow/dist/wow.js}"></script>
    <script th:src="@{/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js}"></script>
    <script th:src="@{/lib/isotope/dist/isotope.pkgd.js}"></script>
    <script th:src="@{/lib/imagesloaded/imagesloaded.pkgd.js}"></script>
    <script th:src="@{/lib/flexslider/jquery.flexslider.js}"></script>
    <script th:src="@{/lib/owl.carousel/dist/owl.carousel.min.js}"></script>
    <script th:src="@{/lib/smoothscroll.js}"></script>
    <script th:src="@{/lib/magnific-popup/dist/jquery.magnific-popup.js}"></script>
    <script th:src="@{/lib/simple-text-rotator/jquery.simple-text-rotator.min.js}"></script>
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    
  </body>
</html>