<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>商店列表</title>
    <th:block th:insert="~{/back-end/store/included-fragment}"></th:block>
    <style type="text/css">
        table {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
    <div align="center">
        <h2>商店列表</h2>
        <h3><a class="navbar-brand" th:href="@{/store/addStore}">新增商店</a></h3>
    </div>
</nav>

<div align="center" style="margin-top: 100px;">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>帳號</th>
                <th>名稱</th>
                <th>地址</th>
                <th>電話</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="store : ${store}">
                <td th:text="${store.storeID}"></td>
                <td th:text="${store.storeAcc}"></td>
                <td th:text="${store.storeName}"></td>
                <td th:text="${store.storeAddr}"></td>
                <td th:text="${store.storePhone}"></td>
                <td>
                    <a th:href="@{'/store/listOneStore/' + ${store.storeID}}">查看</a>
                    <a th:href="@{'/store/updateStore/' + ${store.storeID}}">編輯</a>
                    <a th:href="@{'/store/delete/' + ${store.storeID}}">刪除</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
