
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!--  ======== Document Title =====================================  -->
<title>啡常渴以 | Home</title>


<!--  ======== Favicons =====================================  -->
<link rel="apple-touch-icon" sizes="57x57"
	th:href="@{/images/favicons/apple-icon-57x57.png}">
<link rel="apple-touch-icon" sizes="60x60"
	th:href="@{/images/favicons/apple-icon-60x60.png}">
<link rel="apple-touch-icon" sizes="72x72"
	th:href="@{/images/favicons/apple-icon-72x72.png}">
<link rel="apple-touch-icon" sizes="76x76"
	th:href="@{/images/favicons/apple-icon-76x76.png}">
<link rel="apple-touch-icon" sizes="114x114"
	th:href="@{/images/favicons/apple-icon-114x114.png}">
<link rel="apple-touch-icon" sizes="120x120"
	th:href="@{/images/favicons/apple-icon-120x120.png}">
<link rel="apple-touch-icon" sizes="144x144"
	th:href="@{/images/favicons/apple-icon-144x144.png}">
<link rel="apple-touch-icon" sizes="152x152"
	th:href="@{/images/favicons/apple-icon-152x152.png}">
<link rel="apple-touch-icon" sizes="180x180"
	th:href="@{/images/favicons/apple-icon-180x180.png}">
<link rel="icon" type="image/png" sizes="192x192"
	th:href="@{/images/favicons/android-icon-192x192.png}">
<link rel="icon" type="image/png" sizes="32x32"
	th:href="@{/images/favicons/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="96x96"
	th:href="@{/images/favicons/favicon-96x96.png}">
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{/images/favicons/favicon-16x16.png}">


<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage"
	content="images/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


<!--  ======== Stylesheets =====================================  -->

<!-- Default stylesheets-->
<link rel="stylesheet"
	th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}">

<!-- Template specific stylesheets-->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Volkhov:400i">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
<link rel="stylesheet" th:href="@{/lib/animate.css/animate.css}">
<link rel="stylesheet"
	th:href="@{/lib/components-font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/lib/et-line-font/et-line-font.css}">
<link rel="stylesheet" th:href="@{/lib/flexslider/flexslider.css}">
<link rel="stylesheet"
	th:href="@{/lib/owl.carousel/dist/assets/owl.carousel.min.css}">
<link rel="stylesheet"
	th:href="@{/lib/owl.carousel/dist/assets/owl.theme.default.min.css}">
<link rel="stylesheet"
	th:href="@{/lib/magnific-popup/dist/magnific-popup.css}">
<link rel="stylesheet"
	th:href="@{/lib/simple-text-rotator/simpletextrotator.css}">

<!-- Main stylesheet and color file -->
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/colors/default.css}"
	id="color-scheme">

<style>
.contact-title {
	font-size: 2.5em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 20px;
}

.contact-description {
	margin-top: 20px; /* 增加「聯絡我們」和描述文字之間的間距 */
}

.btn-d {
	background-color: #FFA500;
	color: white;
}

.btn-d:hover, .btn-d:focus {
	background-color: #FF8C00;
	color: white;
}

.required {
	color: red;
	margin-left: 5px; /* 在欄位名稱和 * 之間增加空隙 */
}

.text-transform-none {
	text-transform: none;
}

/* 確保左右兩側的文字從頂部開始對齊 */
.row {
	display: flex;
	align-items: flex-start;
}

.contact-info, #contactForm {
	padding-top: 0;
}

/* 自定義 SweetAlert 樣式 */
.swal2-popup {
	font-size: 1.4rem !important;
	width: 30em !important;
	padding: 1.25em !important;
}

.swal2-title {
	font-size: 1.5em !important;
	margin-bottom: 0.5em !important;
}

.swal2-html-container {
	font-size: 1.1em !important;
	margin-top: 0.5em !important;
	line-height: 1.5 !important;
}

.swal2-actions {
	justify-content: center !important;
	margin-top: 1.25em !important;
}

.swal2-confirm {
	padding: 0.5em 2em !important;
}

.case-sensitive {
	text-transform: none;
}

.btn-dark {
	background-color: #000;
	color: #fff;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.btn-dark:hover {
	background-color: #333;
}

.btn-dark.custom-submit {
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.btn-dark.custom-submit:hover {
    background-color: #333;
}
</style>

</head>





<body data-spy="scroll" data-target=".onpage-navigation"
	data-offset="60">
	<main>


		<!-- header -->
		<div th:include="header :: header"></div>
		<!-- header -->


		<!--banner-->
		<section class="home-section home-full-height" id="home">
			<div class="hero-slider">
				<ul class="slides">
					<!--之後banner圖片來自資料庫-->
					<li class="bg-dark-30 restaurant-page-header bg-dark"
						style="background-image: url(&amp;quot;images/restaurant/slider1.jpg&amp;quot;);">
						<div class="titan-caption">
							<div class="caption-content">
								<div class="font-alt mb-30 titan-title-size-1">Hello &
									welcome</div>
								<div class="font-alt mb-40 titan-title-size-4">We are 啡常渴以</div>
								<a class="section-scroll btn btn-border-w btn-round" href="#">Check
									Our Menu | 飲品菜單</a>
							</div>
						</div>
					</li>

					<li class="bg-dark-30 restaurant-page-header bg-dark"
						style="background-image: url(&amp;quot;images/restaurant/slider2.jpg&amp;quot;);">
						<div class="titan-caption">
							<div class="caption-content">
								<div class="font-alt mb-30 titan-title-size-2">有一天，丁丁跟小易一起去海邊散步</div>
								<div class="font-alt mb-30 titan-title-size-2">小易:
									丁丁，你看，你就像這片海一樣</div>
								<div class="font-alt mb-30 titan-title-size-2">丁丁: 為什麼?
									你說我跟大海一樣，心胸很寬闊嗎?</div>
								<div class="font-alt mb-30 titan-title-size-2">小易:
									不是，我是說你跟這片大海一樣，很多魚</div>
								<a class="btn btn-border-w btn-round" href="#">Discover our
									store | 門市資訊</a>
							</div>
						</div>
					</li>

					<li class="bg-dark-30 restaurant-page-header bg-dark"
						style="background-image: url(&amp;quot;images/restaurant/slider3.jpg&amp;quot;);">
						<div class="titan-caption">
							<div class="caption-content">
								<div class="font-alt mb-30 titan-title-size-1">Take a look
									at</div>
								<div class="font-alt mb-40 titan-title-size-3">our product</div>
								<a class="section-scroll btn btn-border-w btn-round"
									th:href="@{/product/listAllProduct}">Check Our Product |
									周邊商品</a>
							</div>
						</div>
					</li>


				</ul>
			</div>
		</section>
		<!--banner-->
		<div class="main">
			<section class="module" id="contact">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="contact-info">
								<h2 class="font-alt contact-title">聯絡我們</h2>
								<p class="contact-description">若您有任何寶貴意見或商品諮詢，歡迎與我們聯繫</p>
								<p>我們的專業團隊將於以下時間：</p>
								<p>週一至週五 09:00 - 17:00 （六日與國定假日除外）竭誠為您服務</p>
							</div>
						</div>
						<div class="col-sm-6">
							<!-- 顯示成功消息 -->
							<div th:if="${success}" class="alert alert-success" role="alert">
								<p th:text="${success}"></p>
							</div>

							<!-- 顯示錯誤消息 -->
							<div th:if="${errorMessage}" class="alert alert-danger"
								role="alert">
								<p th:text="${errorMessage}"></p>
							</div>

							<form th:action="@{/customer/insert}" method="post"
								id="contactForm">
								<div class="form-group">
									<label for="customerName">姓名<span class="required">*</span></label>
									<input class="form-control case-sensitive" type="text"
										id="customerName" name="customerName" required>
								</div>
								<div class="form-group">
									<label for="customerEmail">電子信箱 <span class="required">*</span></label>
									<input class="form-control" type="email" id="customerEmail"
										name="customerEmail" required>
								</div>
								<div class="form-group">
									<label for="customerPhone">行動電話 <span class="required">*</span></label>
									<input class="form-control" type="tel" id="customerPhone"
										name="customerPhone" required>
								</div>
								<div class="form-group">
									<label for="customerSubject">主旨 <span class="required">*</span></label>
									<input class="form-control case-sensitive" type="text"
										id="customerSubject" name="customerSubject" required>
								</div>
								<div class="form-group">
									<label for="customerMessage">內容 <span class="required">*</span></label>
									<textarea class="form-control case-sensitive" rows="4"
										id="customerMessage" name="customerMessage" required></textarea>
								</div>
								<button class="btn btn-block btn-dark custom-submit"
									type="submit">送出</button>
							</form>
							
						</div>
					</div>
				</div>
			</section>

			<script>
				document
						.addEventListener(
								'DOMContentLoaded',
								function() {
									var inputs = document
											.getElementsByClassName('case-sensitive');
									for (var i = 0; i < inputs.length; i++) {
										inputs[i]
												.addEventListener(
														'keydown',
														function(e) {
															if (e.key === 'CapsLock') {
																// 當 CapsLock 鍵被按下時，切換輸入框的樣式
																this.style.textTransform = (this.style.textTransform === 'uppercase') ? 'none'
																		: 'uppercase';
															}
														});
									}
								});
			</script>


		</div>
		<!--banner-->


		<!-- footer -->
		<div th:include="footer :: footer"></div>
		<!-- footer -->
		<div class="scroll-up">
			<a href="#totop"><i class="fa fa-angle-double-up"></i></a>
		</div>
	</main>


	<!--  ======== JavaScripts =====================================  -->
	<script th:src="@{lib/jquery/dist/jquery.js}"></script>
	<script th:src="@{lib/bootstrap/dist/js/bootstrap.min.js}"></script>
	<script th:src="@{lib/wow/dist/wow.js}"></script>
	<script th:src="@{lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js}"></script>
	<script th:src="@{lib/isotope/dist/isotope.pkgd.js}"></script>
	<script th:src="@{lib/imagesloaded/imagesloaded.pkgd.js}"></script>
	<script th:src="@{lib/flexslider/jquery.flexslider.js}"></script>
	<script th:src="@{lib/owl.carousel/dist/owl.carousel.min.js}"></script>
	<script th:src="@{lib/smoothscroll.js}"></script>
	<script th:src="@{lib/magnific-popup/dist/jquery.magnific-popup.js}"></script>
	<script
		th:src="@{lib/simple-text-rotator/jquery.simple-text-rotator.min.js}"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK2Axt8xiFYMBMDwwG1XzBQvEbYpzCvFU"></script>
	<script th:src="@{js/plugins.js}"></script>
	<script th:src="@{js/main.js}"></script>
</body>
</html>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:inline="javascript">
	document.getElementById('contactForm').addEventListener('submit',
			function(e) {
				// 這裡可以添加表單提交的 AJAX 代碼
				Swal.fire({
					title : '訊息已送出成功!',
					html : '感謝您的提問，我們將於<br>週一至週五 09:00 - 17:00 回覆您的訊息',
					icon : 'success',
					confirmButtonText : '確定',
					confirmButtonColor : '#FFA500'
				});
			});
</script>


</div>
<!--banner-->


<!-- footer -->
<div th:include="footer :: footer"></div>
<!-- footer -->
<div class="scroll-up">
	<a href="#totop"><i class="fa fa-angle-double-up"></i></a>
</div>
</main>


<!--  ======== JavaScripts =====================================  -->
<script th:src="@{lib/jquery/dist/jquery.js}"></script>
<script th:src="@{lib/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{lib/wow/dist/wow.js}"></script>
<script th:src="@{lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js}"></script>
<script th:src="@{lib/isotope/dist/isotope.pkgd.js}"></script>
<script th:src="@{lib/imagesloaded/imagesloaded.pkgd.js}"></script>
<script th:src="@{lib/flexslider/jquery.flexslider.js}"></script>
<script th:src="@{lib/owl.carousel/dist/owl.carousel.min.js}"></script>
<script th:src="@{lib/smoothscroll.js}"></script>
<script th:src="@{lib/magnific-popup/dist/jquery.magnific-popup.js}"></script>
<script
	th:src="@{lib/simple-text-rotator/jquery.simple-text-rotator.min.js}"></script>
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK2Axt8xiFYMBMDwwG1XzBQvEbYpzCvFU"></script>
<script th:src="@{js/plugins.js}"></script>
<script th:src="@{js/main.js}"></script>
</body>
</html>