<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!--  ======== Document Title =====================================  -->
<title>啡常渴以 | fakeLogging</title>


<!--  ======== Favicons =====================================  -->
<link rel="apple-touch-icon" sizes="57x57"
	th:href="@{/images/favicons/apple-icon-57x57.png}">
<link rel="apple-touch-icon" sizes="60x60"
	th:href="@{/images/favicons/apple-icon-60x60.png}">
<link rel="apple-touch-icon" sizes="72x72"
	th:href="@{/images/favicons/apple-icon-72x72.png}">
<link rel="apple-touch-icon" sizes="76x76"
	th:href="@{/images/favicons/apple-icon-76x76.png}">
<link rel="apple-touch-icon" sizes="114x114"
	th:href="@{/images/favicons/apple-icon-114x114.png}">
<link rel="apple-touch-icon" sizes="120x120"
	th:href="@{/images/favicons/apple-icon-120x120.png}">
<link rel="apple-touch-icon" sizes="144x144"
	th:href="@{/images/favicons/apple-icon-144x144.png}">
<link rel="apple-touch-icon" sizes="152x152"
	th:href="@{/images/favicons/apple-icon-152x152.png}">
<link rel="apple-touch-icon" sizes="180x180"
	th:href="@{/images/favicons/apple-icon-180x180.png}">
<link rel="icon" type="image/png" sizes="192x192"
	th:href="@{/images/favicons/android-icon-192x192.png}">
<link rel="icon" type="image/png" sizes="32x32"
	th:href="@{/images/favicons/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="96x96"
	th:href="@{/images/favicons/favicon-96x96.png}">
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{/images/favicons/favicon-16x16.png}">

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage"
	content="images/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


<!--  ======== Stylesheets =====================================  -->

<!-- Default stylesheets-->
<link rel="stylesheet"
	th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}">

<!-- Template specific stylesheets-->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Volkhov:400i">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
<link rel="stylesheet" th:href="@{/lib/animate.css/animate.css}">
<link rel="stylesheet"
	th:href="@{/lib/components-font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/lib/et-line-font/et-line-font.css}">
<link rel="stylesheet" th:href="@{/lib/flexslider/flexslider.css}">
<link rel="stylesheet"
	th:href="@{/lib/owl.carousel/dist/assets/owl.carousel.min.css}">
<link rel="stylesheet"
	th:href="@{/lib/owl.carousel/dist/assets/owl.theme.default.min.css}">
<link rel="stylesheet"
	th:href="@{/lib/magnific-popup/dist/magnific-popup.css}">
<link rel="stylesheet"
	th:href="@{/lib/simple-text-rotator/simpletextrotator.css}">

<!-- Main stylesheet and color file -->
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/colors/default.css}"
	id="color-scheme">

</head>





<body data-spy="scroll" data-target=".onpage-navigation"
	data-offset="60">
	<main>

		<!-- header -->
		<div th:replace="header :: header"></div>
		<!-- header -->


		<div class="main">

			<!-- 我要的 -->
			<!-- 種類的btn  -->
			<section class="module-small" >
				<div class="container">
					<div class="col-sm-2">
						<a th:href="@{/product/listAllProduct}"><button
								class="btn btn-block btn-round btn-g">所有商品</button></a>
					</div>
					<div class="col-sm-2">
						<a th:href="@{/product/getOneType_For_Display} + '?productTag=1' "><button
								class="btn btn-block btn-round btn-g">種類一</button></a>
					</div>
					<div class="col-sm-2">
						<a th:href="@{/product/getOneType_For_Display?productTag=2}"><button
								class="btn btn-block btn-round btn-g">種類二</button></a>
					</div>
					<div class="col-sm-2">
						<a th:href="@{/product/getOneType_For_Display?productTag=3}"><button
								class="btn btn-block btn-round btn-g">種類三</button></a>
					</div>
					<div class="col-sm-2">
						<a th:href="@{/jibeiProduct/jibeiProductList}"><button
								class="btn btn-block btn-round btn-g">寄杯商品</button></a>
					</div>

				</div>
			</section>
			<!-- 種類btn到這邊 -->

			<hr class="divider-w">

			<!-- 所有商品的區域  -->
			<section class="module-small">
				<div class="container">
					<div class="row multi-columns-row">
						<!-- 單個商品，所以動態新增要改這裡(頂) -->
						<!-- thymeleaf改這邊 -->
						<div th:if="${productList != null}">
							<div th:each="productVO : ${productList}">
								<div class="col-sm-6 col-md-3 col-lg-3">
									<div class="shop-item">
										<div class="shop-item-image">
											<a th:href="@{/product/pdDetail} + '?productID=' + ${productVO.productID}">
												<img th:src="@{/product/ProductDBGifReader} + '?productID=' + ${productVO.productID}" alt="Product Image" />
										 	</a>

											<div class="shop-item-detail">
												<a th:href="@{/product/productAddToCartOnListAllPdPage}+ '?productID=' + ${productVO.productID} + '&orderAmount=1' " 
												class="btn btn-round btn-b"><span class="icon-basket">Add To Cart</span></a>
											</div>
										</div>
										<h4 class="shop-item-title font-alt">
										<a th:href="@{/product/pdDetail} + '?productID=' + ${productVO.productID}">
											<div th:text="${productVO.productName}"></div>
											<div th:text="'$' + ${#numbers.formatInteger(productVO.productPrice, 3, 'COMMA')}"></div>
											</a>
										</h4>
									</div>
								</div>
							</div>
						</div>

						<div th:if="${jibeiProductList != null}">
							<div th:each="jibeiProductVO : ${jibeiProductList}">
								<div class="col-sm-6 col-md-3 col-lg-3">
									<div class="shop-item">
										<div class="shop-item-image">
											<img
												th:src="@{/drink/DrinkDBGifReader} + '?drinkID=' + ${jibeiProductVO.drinkID}"
												alt="Accessories Pack" />
											<div class="shop-item-detail">
												<a th:href="@{/jibeiProduct/addOneToCart}+ '?jibeiProductID=' + ${jibeiProductVO.drinkID} + '&orderAmount=1' " 
												class="btn btn-round btn-b"><span class="icon-basket">Add To Cart</span></a>
											</div>
										</div>
										<h4 class="shop-item-title font-alt">
										<a th:href="@{/jibeiProduct/jibeiPdDetail} + '?jibeiProductID=' + ${jibeiProductVO.jibeiProductID}">
											<div th:text="${jibeiProductVO.drinkID}"></div>
											<div th:text="'$' + ${#numbers.formatInteger(jibeiProductVO.jibeiProductPrice, 3, 'COMMA')}"></div>
											</a>
										</h4>
<!-- 										<h4 class="shop-item-title font-alt"> -->
<!-- 											寄杯商品name -->
<!-- <!-- 												                  <div th:text="${jibeiProductVO.productName}"></div> --> 
<!-- 										</h4> -->
<!-- 										£9.00 -->
									</div>
								</div>
							</div>
						</div>
						<!-- thy到這邊 -->
						<!-- 商品(底) -->
					</div>
				</div>
			</section>
			<!-- 我要的，到這裡 -->







		</div>

		<!-- footer -->
		<div th:include="footer :: footer"></div>
		<!-- footer -->
		<div class="scroll-up">
			<a href="#totop"><i class="fa fa-angle-double-up"></i></a>
		</div>
	</main>


	<!--  ======== JavaScripts =====================================  -->
	<script th:src="@{/lib/jquery/dist/jquery.js}"></script>
	<script th:src="@{/lib/bootstrap/dist/js/bootstrap.min.js}"></script>
	<script th:src="@{/lib/wow/dist/wow.js}"></script>
	<script th:src="@{/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js}"></script>
	<script th:src="@{/lib/isotope/dist/isotope.pkgd.js}"></script>
	<script th:src="@{/lib/imagesloaded/imagesloaded.pkgd.js}"></script>
	<script th:src="@{/lib/flexslider/jquery.flexslider.js}"></script>
	<script th:src="@{/lib/owl.carousel/dist/owl.carousel.min.js}"></script>
	<script th:src="@{/lib/smoothscroll.js}"></script>
	<script th:src="@{/lib/magnific-popup/dist/jquery.magnific-popup.js}"></script>
	<script
		th:src="@{/lib/simple-text-rotator/jquery.simple-text-rotator.min.js}"></script>
	<script th:src="@{/js/plugins.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>
</html>