<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>登入</title>
    <head th:insert="~{/back-end/user/included-fragment}"></head>
</head>
<body>

<div align="center">
    <h2>登入</h2>
    <form th:action="@{/login}" method="post" th:object="${userVO}">
        <div>
            <label for="userEmail">電子郵件:</label>
            <input type="email" th:field="*{userEmail}" id="userEmail" required />
        </div>
        <div>
            <label for="userPwd">密碼:</label>
            <input type="password" th:field="*{userPwd}" id="userPwd" required />
        </div>
        <div>
            <button type="submit">登入</button>
            <a href="/forgotPassword" style="font-size: small; position: relative; left: 10px; top: -10px;">忘記密碼?</a>
        </div>
    </form>
    <div>
        <a href="/register">
            <button type="button">註冊</button>
        </a>
    </div>
</div>

</body>
</html>
