<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>重設密碼</title>
    <head th:insert="~{/back-end/user/included-fragment}"></head>
</head>
<body>

<div align="center">
    <h3>重設密碼</h3>
    <form th:action="@{/resetPassword}" method="post">
        <div>
            <label>電子郵件:</label>
            <input type="email" name="userEmail" />
        </div>
        
        <div>
            <label>新密碼:</label>
            <input type="password" name="userPwd" />
        </div>

        <div>
            <label>確認新密碼:</label>
            <input type="password" name="confirmPwd" />
        </div>

        <div>
            <button type="submit">重設密碼</button>
        </div>
    </form>
</div>

</body>
</html>
