








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>飲品資料管理 - select_page.html</title>

<head th:insert="~{/back-end/drink/included-fragment}"></head> <!-- 使用included-fragment.html網頁的全部 -->
<!--  ======== Favicons =====================================  -->
<link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="images/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="images/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="images/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
 <!--  ======== Stylesheets =====================================  -->
 <!-- Default stylesheets-->
 <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" >
 <!-- Template specific stylesheets-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Volkhov:400i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" >
    <link rel="stylesheet" href="lib/animate.css/animate.css" >
    <link rel="stylesheet" href="lib/components-font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="lib/et-line-font/et-line-font.css" >
    <link rel="stylesheet" href="lib/flexslider/flexslider.css" >
    <link rel="stylesheet" href="lib/owl.carousel/dist/assets/owl.carousel.min.css" >
    <link rel="stylesheet" href="lib/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="lib/magnific-popup/dist/magnific-popup.css" >
    <link rel="stylesheet" href="lib/simple-text-rotator/simpletextrotator.css">
    
    <!-- Main stylesheet and color file-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/colors/default.css"  id="color-scheme">
<style type="text/css">

	button {
		padding: 5px;
	}
	form {
		display: table;
	}
	form div {
		display: table-row;
	}
	label, input, span, select {
		display: table-cell;
		margin: 2px;
		text-align: left;		
	}
	input[type=text], input[type=password], select, textarea {
		width: 200px;
		margin: 2px;
	}
	form div div {
		display: table-cell;
	}
	.center {
        margin-left: auto;
        margin-right: auto;
    }
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
	div.a {
        display: inline-block;
        width: 50%;
        height: auto;
        padding: 5px;
        border: 0px solid blue;    
        background-color: white; 
    }
    div.b {
        position: absolute; 
        bottom: 1%; 
        right: 2%; 
        width: 45%;
        padding: 5px; 
        border: 1px solid blue;
    }
</style>

</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">

<main>
	<div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- header -->
      <div id="header-content"></div>
    <!-- header -->
    
    <!--banner-->
    <section class="module bg-dark-30 parallax-bg restaurant-menu-bg" data-background="assets/images/restaurant/cake_pastries_bg.jpg">
    </section>>
    
    <!--banner-->
<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>飲品資料管理 - select_page.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/back1.gif}">回index.html</a></h3></div>
</nav>

	<h4><span>資料查詢:</span></h4>
	<!-- 錯誤表列 -->
	<div class="errorblock" th:utext="${errorMessage}">${errorMessage}</div><br>
	<div class="a">
	  <ul>
		<li><h5><a href='listAllDrink'>List</a> all Drinks. <br><br></h5></li>

		<li>
			<form method="post" th:action="@{getOne_For_Display}">
				輸入飲品編號:
				<input type="text" name="drinkID" th:value="${param.drinkID}" > 
				<input type="submit" value="送出"> (輸入如1)
			</form><br>
		</li>

		
		
		
		<li><form method="post" th:action="@{getOne_For_Display}">
				選擇飲品編號:
				<select name="drinkID">
				     <option th:each="drinkVO : ${drinkListData}" th:value="${drinkVO.drinkID}" th:text="${drinkVO.drinkID}" />
			    </select>
				<input type="submit" value="送出">
			</form><br>
		</li>

		
		
		
		<li><form method="post" th:action="@{getOne_For_Display}">
				選擇飲品名稱:
				<select name="drinkID">
				     <option th:each="drinkVO : ${drinkListData}" th:value="${drinkVO.drinkID}" th:text="${drinkVO.drinkName}" />
			    </select>
				<input type="submit" value="送出">
			</form><br>
		</li>
		
		
		
		
<!--  萬用複合查詢-以下欄位-可隨意增減 -->
  
  <li>   
    <form method="post" th:action="@{listDrinks_ByCompositeQuery}">
        <font color=blue>萬用複合查詢:</font><br>
        輸入飲品編號: 
        <input type="text" name="drinkID" value="1"><br>
           
        輸入飲品名稱: 
        <input type="text" name="drinkName" value="綠茶"><br>
       
        輸入飲品標籤: 
        <select name="drinkTag">
            <option value="">請選擇</option>
            <option value="綠茶">綠茶</option>
            <option value="紅茶">紅茶</option>
            <option value="咖啡">咖啡</option>
            <option value="奶茶">奶茶</option>
            <option value="抹茶">抹茶</option>
            <!-- 其他標籤選項可以在這裡添加 -->
        </select>
    
<!--         選擇部門:  -->
<!--   		<select th:field="*{deptVO.deptno}"> -->
<!-- 			<option value=""> -->
<!-- 			<option th:each="deptVO : ${deptListData}" th:value="${deptVO.deptno}" th:text="${deptVO.dname}" /> -->
<!-- 		</select><br> -->

           
        
        創建日期:
	    <input name="drinkCreatedDate" type="date">
	    
        <input type="submit" value="送出">
     
     </form>
  </li>
</ul>	
	
      <h4><span>飲品管理</span></h4>
	  <ul>
		  <li><h5><a href='addDrink'>Add</a> a new Drink.</h5></li>
	  </ul>
	</div>
    
    <!-- 旗標getOne_For_Display見EmpnoController.java的第74行 -->
    <div class="b" th:if="${getOne_For_Display}">
        <!--使用listOneEmp.html網頁的listOneEmp-div片段--> <!-- 見listOneEmp.html的第35行的th:fragment="listOneEmp-div" --> <!-- 使用th:replace也可 -->
        <div th:insert="~{/back-end/drink/listOneDrink :: listOneDrink-div}"></div>
    </div>
    </main>
<!--  ======== JavaScripts =====================================  -->
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/wow/dist/wow.js"></script>
    <script src="lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="lib/flexslider/jquery.flexslider.js"></script>
    <script src="lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="lib/smoothscroll.js"></script>
    <script src="lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK2Axt8xiFYMBMDwwG1XzBQvEbYpzCvFU"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>
</html>