








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>環保杯資料管理 - select_page.html</title>

<!-- 引入 Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- 引入 jQuery 和 Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<head th:insert="~{/back-end/cup/included-fragment}"></head> 使用included-fragment.html網頁的全部
<link rel="stylesheet" type="text/css" th:href="@{/css/styleBack.css}">
<style type="text/css">

	button {
		padding: 5px;
	}
	form {
		display: table;
	}
	form div {
		display: table-row;
	}
	label, input, span, select {
		display: table-cell;
		margin: 2px;
		text-align: left;		
	}
	input[type=text], input[type=password], select, textarea {
		width: 200px;
		margin: 2px;
	}
	form div div {
		display: table-cell;
	}
	.center {
        margin-left: auto;
        margin-right: auto;
    }
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
	div.a {
        display: inline-block;
        width: 50%;
        height: auto;
        padding: 5px;
        border: 0px solid blue;    
        background-color: white; 
    }
    div.b {
        position: absolute; 
        bottom: 1%; 
        right: 2%; 
        width: 45%;
        padding: 5px; 
        border: 1px solid blue;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-button justify-content-center">
		 <div align="center"> <h2>環保杯資料管理 - select_page.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/back1.gif}">回index.html</a></h3></div>
</nav>

	<h4><span>資料查詢:</span></h4>
	<!-- 錯誤表列 -->
	<div class="errorblock" th:utext="${errorMessage}">${errorMessage}</div><br>
	<div class="a">
	  <ul>
		<li><h5><a href='listAllCup'>List</a> all Cups. <br><br></h5></li>

		<li>
			<form method="post" th:action="@{getOne_For_Display}">
				輸入環保杯編號:
				<input type="text" name="cupID" th:value="${param.cupID}" > 
				<input type="submit" value="送出"> (輸入如7001)
			</form><br>
		</li>
		
		<li>
			<form method="post" th:action="@{getOne_For_Display}">
				輸入店家ID:
				<input type="text" name="storeID" th:value="${param.storeID}" > 
				<input type="submit" value="送出">
			</form><br>
		</li>
		
		
<!-- 		<li><form method="post" th:action="@{getOne_For_Display}"> -->
<!-- 				選擇員工姓名: -->
<!-- 				<select name="empno"> -->
<!-- 				     <option th:each="empVO : ${empListData}" th:value="${empVO.empno}" th:text="${empVO.ename}" /> -->
<!-- 			    </select> -->
<!-- 				<input type="submit" value="送出"> -->
<!-- 			</form><br> -->
<!-- 		</li> -->
		
		
		
		
<!--  萬用複合查詢-以下欄位-可隨意增減 -->
  
  <li>   
    <form method="post" th:action="@{listCups_ByCompositeQuery}">
        <font color=blue>萬用複合查詢:</font><br>
        輸入環保杯編號: 
        <input type="text" name="cupID" value=><br>
        
        輸入會員編號:
        <input type="text" name="memberID" value=><br>
        
        <!-- 先打好 等連好FK後測試 -->
<!--         顧客名稱:  -->
<!--   		<select th:field="*{userVO.userID}"> -->
<!-- 			<option value=""> -->
<!-- 			<option th:each="userVO : ${userListData}" th:value="${userVO.userID}" th:text="${userVO.userName}" /> -->
<!-- 		</select><br> -->
		
<!-- 		店家名稱:  -->
<!--   		<select th:field="*{storeVO.storeID}"> -->
<!-- 			<option value=""> -->
<!-- 			<option th:each="storeVO : ${storeListData}" th:value="${storeVO.storeID}" th:text="${storeVO.storeName}" /> -->
<!-- 		</select><br> -->     
       
<!--         選擇部門:  -->
<!--   		<select th:field="*{deptVO.deptno}"> -->
<!-- 			<option value=""> -->
<!-- 			<option th:each="deptVO : ${deptListData}" th:value="${deptVO.deptno}" th:text="${deptVO.dname}" /> -->
<!-- 		</select><br> -->

		輸入環保杯狀態: 
        <select name="cupStatus">
            <option value="">請選擇</option>
            <option value=0>歸還</option>
            <option value=1>出租</option>
            <option value=2>報廢</option>
            <!-- 其他標籤選項可以在這裡添加 -->
        </select>
           
        創建日期:
	    <input name="cupCreateDate" type="date">
	    租借日期:
	    <input name="cupRentDate" type="date">
        
        
<!--         雇用日期: -->
<!-- 	    <input name="hiredate" type="date"> -->
	    
        <input type="submit" value="送出">
     
     </form>
  </li>
</ul>

<h4><span>租借鈕(店家)</span></h4>
<ul>
	<li><h5><a href='userRentCup'>租借</a>租借杯子</h5></li>
</ul>

<h4><span>歸還鈕(店家)</span></h4>
<ul>
	<li><h5><a href='userReturnCup'>歸還</a>歸還杯子</h5></li>
</ul>

<h4><span>報廢鈕(店家)</span></h4>
<ul>
	<li><h5><a href='discardCup'>報廢</a>報廢杯子</h5></li>
</ul>

<div class="container-fluid px-4">
    <h1 class="mt-4">管理操作</h1>
    <div class="row">
        <!-- 租借 -->
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">租借杯子</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="btn btn-light text-primary stretched-link" href="userRentCup">租借</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>

        <!-- 歸還 -->
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">歸還杯子</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="btn btn-light text-success stretched-link" href="userReturnCup">歸還</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>

        <!-- 報廢 -->
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">報廢杯子</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="btn btn-light text-danger stretched-link" href="discardCup">報廢</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>

<form th:action="@{countCups}" method="post">
    <div>
        <label for="storeID">輸入店家ID:</label>
        <input type="text" id="storeID" name="storeID" required>
        <button type="submit">查詢可租杯子數量</button>
    </div>
</form>

<!-- 顯示查詢結果 -->
<div th:if="${cupCounts != null}">
    <h3>店家ID: <span th:text="${storeID}"></span> 可出租的杯子數量為: <span th:text="${cupCounts}"></span></h3>
</div>

<!-- <form method="post" th:action="@{/cup/getOne_For_Update}" style="margin-bottom: 0px;"> -->
<!-- 	<input type="submit" value="修改"> -->
<!-- 	<input type="hidden" name="cupID" th:value="${cupVO.cupID}"> -->
<!-- </form> -->
	
      <h4><span>環保杯管理</span></h4>
	  <ul>
		  <li><h5><a href='addCup'>Add</a> a new Cup.</h5></li>
	  </ul>
	</div>
	
	  <h4><span>新增杯子(很多)</span></h4>
	  <ul>
		  <li><h5><a href='addManyCupForm'>Add</a>Many Cups.</h5></li>
	  </ul>
    
    <!-- 旗標getOne_For_Display見EmpnoController.java的第74行 -->
    <div class="b" th:if="${getOne_For_Display}">
        <!--使用listOneEmp.html網頁的listOneEmp-div片段--> <!-- 見listOneEmp.html的第35行的th:fragment="listOneEmp-div" --> <!-- 使用th:replace也可 -->
        <div th:insert="~{/back-end/cup/listOneCup :: listOneCup-div}"></div>
    </div>

</body>
</html>